*{
    margin: 0;
    padding: 0;
}
.flex-parent{
    display: flex;
    transition: 3s all ease-in-out;
    flex-wrap: wrap;
}
.n1{
    flex-basis: 80%;
    border: 1px solid olivedrab;
    padding: 12px;
    flex-grow: 0;
    flex-shrink: 0; 
}
.n2{
    flex-basis: 15%;
    border: 1px solid olivedrab;
    padding: 12px;
    flex-grow: 0;
    flex-shrink: 0; 
}
.n3{
    flex-basis: 65%;
    border: 1px solid olivedrab;
    padding: 12px;
    flex-grow: 0;
    flex-shrink: 0;  
}
.n4{
    flex-basis: 25%;
    border: 1px solid olivedrab;
    padding: 12px;
    flex-grow: 0;
    flex-shrink: 0;  
}


@media (max-width:720px) {
    .flex-parent{   
        flex-direction: column;
        border: none;
    } 
    .box{
        margin: 20px;
    }  
}

