*{
    margin: 0;
    padding: 0;
}
.flex-parent{
    display: flex;
    border: 1px solid olivedrab;
}
.box{
    flex-basis: 25%;
    border: 1px solid olivedrab;
    padding: 12px;
}
.n1{
    order: 2;
}
.n2{
    order: 4;
}
.n3{
    order: 3;
}
.n4{
    order: 1;
}