*{
    margin: 0;
    padding: 0;
}
.flex-parent{
    display: flex;
    border: 1px solid olivedrab;
    transition: 3s all ease-in-out;
}
.box{
    flex-basis: 25%;
    border: 1px solid olivedrab;
    padding: 12px;
}
@media (max-width:720px) {
    .flex-parent{
        flex-direction: column;
    }   
}
